#include "ResConst.pas"

AboutBMP  BITMAP  BackGround.bmp
Skelet    CURSOR  Skeleton.cur
MainIcon  ICON    CalcIcon.ico

ComboKeys ACCELERATORS
{
   "1", IDM_DLLFUNC
   "2", IDM_EXIT
   "3", IDM_CALC
   "4", IDM_ABOUT
}


STRINGTABLE
{
   IDS_WNDNAME,      "Калькулятор"
   IDS_TEAMNAME,     "Бригада №2"
   IDS_WNDABOUTNAME, "О программе"
   IDS_STRINGFORDLL, "Строка"
   IDS_NULLDIV,      "Недопустимая операция!"
   IDS_NULLDIVMSG,   "Деление на нуль недопустимо!"
}

CalcMenu MENU
{
   POPUP "Действия"
   {
      MENUITEM "Функция из DLL", IDM_DLLFUNC
      MENUITEM "Выход", IDM_EXIT
   }
   MENUITEM "Калькулятор", IDM_CALC
   MENUITEM "О программе", IDM_ABOUT, HELP
}

CalcDialog DIALOG 20, 20, 200, 280
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Калькулятор"
FONT 12, "MS Sans Serif"
{
 CONTROL " ", IDC_CALCEDITBOX, "EDIT", SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 11, 11, 174, 60
 CONTROL "Del", IDC_BTNDEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 81, 130, 30
 CONTROL "0", IDC_BTN0, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 240, 130, 30
 CONTROL "1", IDC_BTN1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 5*10 + 5*30, 30, 30
 CONTROL "2", IDC_BTN2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3*10 + 30, 5*10 + 5*30, 30, 30
 CONTROL "3", IDC_BTN3, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5*10 + 2*30, 5*10 + 5*30, 30, 30
 CONTROL "4", IDC_BTN4, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 4*10 + 4*30, 30, 30
 CONTROL "5", IDC_BTN5, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3*10 + 30, 4*10 + 4*30, 30, 30
 CONTROL "6", IDC_BTN6, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5*10 + 2*30, 4*10 + 4*30, 30, 30
 CONTROL "7", IDC_BTN7, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3*10 + 30, 3*10 + 3*30, 30, 30
 CONTROL "8", IDC_BTN8, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 3*10 + 3*30, 30, 30
 CONTROL "9", IDC_BTN9, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5*10 + 2*30, 3*10 + 3*30, 30, 30
 CONTROL "/", IDC_BTNDIV, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 80, 30, 30
 CONTROL "*", IDC_BTNMUL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 120, 30, 30
 CONTROL "-", IDC_BTNMINUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 160, 30, 30
 CONTROL "+", IDC_BTNPLUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 200, 30, 30
 CONTROL "=", IDC_BTNEQU, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 240, 30, 30
}
